*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    font-size: 1.25em;
    font-family: "Lexend Giga", serif;
    position: absolute;
    width: 100%;
    z-index: 3;
} 
.nav-list {
    list-style: none;
    display: flex;
    gap: 2em;
}
.navbar a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.navbar a:hover {
    color: orange;
    text-shadow: orange 1px 0 10px;
}
.primary-icon {
    width: 2em;
    height: auto;
}
.menu {
    display: none;
}
.menu-line {
    width: 1.5em;
    height: .11em;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: .25em;
    transition: all 0.3s ease-in-out;
}

/* Hero Section */
.scene {
    height: 100vh;
    height: 100svh;
    position: relative;
    display: flex;
    flex-direction: column;
    --time: 10s;
    overflow: hidden;
}
.sky {
    width: 100%;
    height: 70%;
    /* background-color: #bd4f6c;
    background-image: radial-gradient(circle at center, #d7816a, #a94963); */
    background-color: #90a9ff; 
    background-image: radial-gradient(circle at center, #a9bcff, #7090ff);
    /* background-image: linear-gradient(#94a1d0 0%, #faa499 50%, #ffc55c 90%, #F6D285 99%); */
    position: relative;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}
.ocean {
    width: 100%;
    height: 30%;
    /* background-color: #a4508b;
    background-image: radial-gradient(circle at center, #4d203f 0%, #35054c 74%); */
    background-color: #164aff;
    background-image: radial-gradient(circle at center, #164aff 0%, #0036f4 74%);
}
.introText {
    text-align: center;
    padding: .25em;
    padding-top: 2em;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 5em;
    font-weight: 600;
    color: white;
    z-index: 2;
}
.sun {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #ff4e00;
    background-image: linear-gradient(360deg, #ff4e00 0%, #ec9f05 74%);
    transform: translateY(20%);
    animation: set var(--time) ease infinite;
    box-shadow: 0 0 210px 100px rgba(253, 143, 54, 0.6), 0 0 210px 200px rgba(251, 167, 98, 0.8);
}
.star {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    animation: stars var(--time) infinite;
    position: absolute;
}
@keyframes set {
    0%{
        transform: translate(0, 100%);
    }
    33%{
        transform: translate(0,-50%);
    }
    66%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(0, 100%);
    }
}
@keyframes stars {
    0%{
        opacity: 100%;
    }
    33%{
        opacity: 0%;
    }
    66%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
    }
}

/* Craft */
#craft {
    background-color: rgba(255, 197, 92, .15);
    padding-bottom: 3em;
}
.craft-header {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}
.mobile {
    display: none;
}
.card {
    border-style: solid;
    border-width: thin;
    border-color: rgba(255, 197, 92, .5);
    background-color: rgba(255, 197, 92, .05);
    padding: 4em;
    margin-bottom: 3em;
}
.mockups {
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj-description p {
    padding: .5em;
    font-size: 1.1em;
    font-family: "Hanken Grotesk", sans-serif;
}
h3 {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 200;
    font-size: 2.25em;
    padding-bottom: .5em;
}
.info-tag {
    border-style: none;
    border-radius: .5em;
    background-color: rgba(255, 197, 92, .25);
    font-family: "Lexend", serif;
    font-size: .85em;
    color: orange;
    padding: .25em;
    margin: .5em;
}
.work {
    text-decoration: none;
    font-family: "Lexend Giga", serif;
    font-size: 1em;
    font-weight: bolder;
    color: #3d3d3d;
    padding: .5em;
    margin-top: 5em;
    transition: all .35s ease-out;
    display: inline-block;
}
.work:hover{
    cursor: pointer;
    transform: translateX(.75em);
    color: orange;
}
.graphic-description p {
    padding: .5em;
    font-size: 1.1em;
    font-family: "Hanken Grotesk", sans-serif;
    padding-bottom: 1em;
}

/* View Works */
.casestudy-body {
    background-color: rgba(255, 197, 92, .15);
    padding: 4em 8em;
}
.quick-facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    flex-wrap: wrap;
    padding: 3em;
}
.fact {
    display: flex;
    flex-direction: column;
}
.section-title {
    font-family: "Lexend Giga", serif;
    font-size: 1.5em;
    color: orange;
    padding: .3em 0em;
}
.section-description {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1em;
    color: #3d3d3d;
    padding: .25em 0em;
}
.subsection-title {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.25em;
    font-weight: bolder;
    color: #3d3d3d;
    padding-top: 1em;
}
.section {
    padding: 3em 0em;
}
.visuals {
    padding: 1.5em 0em;
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0em;
}
.images a , .images p {
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1em;
    color: #3d3d3d;
    padding: .75em 0em;
}
.images a:hover {
    color: orange;
}
.pdf-links {
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1em;
    color: #3d3d3d;
    padding: .75em 0em;
    display: inline-block;
    transition: all .35s ease-out;
}
.pdf-links:hover {
    cursor: pointer;
    transform: translateX(.75em);
    color: orange;
}
.the-end {
    display: table;
    margin: 0 auto;
}
.highlight {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1em;
    color: #3d3d3d;
    padding: .25em 0em;
    background-color: rgba(255, 197, 92, .2);
}
.caption {
    padding: .25em 1.5em;
}

/* About Page */
.about-body {
    background-color: rgba(255, 197, 92, .15);
    padding: 5em 5em;
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.profile-photo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    transition: 0.5s ease;
}
.about-writing {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.about-header {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5em auto;
}
.about-bullets {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.2em;
    color: #3d3d3d;
    list-style-type: none;
}
.about-bullets li {
    margin-bottom: 1em;
    padding-left: 2em;
    background-image: url(orangeslice.svg);
    background-position: 0 0;
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
}

/* Footer */
#footer {
    padding: 2em 1em;
    background-color: rgba(255, 197, 92, .25)
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1em;
    color: #3d3d3d;
}
.footer-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 2em;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding: 2em 2em;
}
.social-icons {
    display: flex;
    gap: 1.5em;
}
.social-icons a {
    color: #3d3d3d;
    text-decoration: none;
}
.social-icons a:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 650px) {
    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        z-index: 3;
    }
    .navtop {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .menu {
        display: block;
    }
    .menu:hover {
        cursor: pointer;
    }
    .nav-list {
        display: block;
        width: 100%;
        padding-top: .5em;
        transform: translateX(-150%);
    }
    .list-item {
        border-top: .05em solid rgba(255, 255, 255, 1);
        padding: .5em;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .nav--open{
        transform: translateX(0%);
        transition: all 0.3s ease-in-out;
    }
    .menu--open .menu-line:nth-child(1){
        transform: translateY(.35em) rotate(45deg);
    }
    .menu--open .menu-line:nth-child(2){
        opacity: 0;
    }
    .menu--open .menu-line:nth-child(3){
        transform: translateY(-.35em) rotate(-45deg);
    }
    .card {
        padding: 1.5em;
    }
    .casestudy-body {
        padding: 1.5em 2em;
    }
    .mobile {
        display: block;
    }
    .spacing {
        margin: 1em 0em;
    }
    .desktop {
        display: none;
    }
}